.my-navbar {
    background-color: steelblue;
    font-family: Comic Sans MS, Comic Sans, cursive;
    line-height: 0.5;
}

.my-btn-search {
    color: white !important;
    border-color: white !important;
}

.my-avatar-settings-log {
    margin-left: 2px !important;
    margin-top: 5px !important;
    margin-bottom: 5px;
    font-size: 13px;
}

.my-name {
    margin-left: -25px !important;
    margin-top: 8px;
    color: white;
}

.my-settings-log {
    margin-left: -28px !important;
}

.my-link-settings {
    color: blue;
}

.my-link-log {
    color: blue;
}