{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="row"
     style="border: 1px solid black; border-radius: 5px; background-color: white; margin-bottom: 30px;">
    <div class="col-2">
        <img src="{% static '/avatar.png' %}" height="50px" width="50px"
             style="border: 1px solid black; object-fit: cover; margin-top: 30px; margin-bottom: 20px; margin-left: 10px;">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary my-btn-dislike">&#128078;</button>
            </div>
            <div class="col-2">
                <div style="font-size: 15px;">1</div>
            </div>
            <div class=" col-2">
                <button type="submit" class="btn btn-primary my-btn-like">&#128077;</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <div style="font-size: 20px;"> {{question.title}}
            </div>
        </div>
        <div class="row">
            <div style="font-size: 15px;"> {{question.content}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-1">
                <div style="font-size: 15px;"> Теги:</div>
            </div>
            <div class="col-2">
                <a style="font-size: 15px; ">
                    VKeducation
                </a>
            </div>
            <div class="col-2">
                <a style="font-size: 15px;"> Ios
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
{% for answer in answers %}
<div class="row"
     style="border: 1px solid black; border-radius: 5px; background-color: white; margin-bottom: 30px; padding-bottom: 10px;">
    <div class="col-2">
        <img src="{% static '/avatar.png' %}" height="50px" width="50px"
             style="border: 1px solid black; object-fit: cover; margin-top: 30px; margin-bottom: 20px; margin-left: 10px; ">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary my-btn-dislike">&#128078;</button>
            </div>
            <div class="col-2">
                <div style="font-size: 15px;">1</div>
            </div>
            <div class=" col-2">
                <button type="submit" class="btn btn-primary my-btn-like">&#128077;</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <div style="font-size: 15px;"> {{answer.content}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-4">
                <div class="form-check" style="margin-top: 20px;">
                    <input class="form-check-input" type="checkbox" id="flexCheck1">
                    <label class="form-check-label" for="flexCheck1">
                        Отметить верным
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row" style="margin-top: 70px;">
    <nav>
        <ul class="pagination">
            {% firstof paginator.num_pages as last %}
            {% if answers.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'question' question_id=question.id page=1 %}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'question' question_id=question.id page=answers.previous_page_number %}">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            {% endif %}
            {% if answers.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'question' question_id=question.id page=answers.previous_page_number %}">
                    <span aria-hidden="true">{{answers.previous_page_number}}</span>
                </a>
            </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="{% url 'question' question_id=question.id page=answers.number %}" style="color: black"> {{answers.number}} </a></li>
            {% if answers.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'question' question_id=question.id page=answers.next_page_number %}">
                    <span aria-hidden="true">{{answers.next_page_number}}</span>
                </a>
            </li>
            {% endif %}
            {% if paginator.num_pages != answers.number and last|add:'-1' != answers.number and last|add:'-2' != answers.number %}
            <li class="page-item"><a class="page-link" > ... </a></li>
            {% endif %}
            {% if last|add:'-1' != answers.number and paginator.num_pages != answers.number %}
            <li class="page-item"><a class="page-link" href="{% url 'question' question_id=question.id page=paginator.num_pages %}"> {{paginator.num_pages}} </a></li>
            {% endif %}
            {% if answers.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'question' question_id=question.id page=answers.next_page_number %}">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'question' question_id=question.id page=paginator.num_pages %}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<!--<div class="row"
     style="border: 1px solid black; border-radius: 5px; background-color: white; margin-bottom: 30px; padding-bottom: 10px;">
    <div class="col-2">
        <img src="{% static '/avatar.png' %}" height="50px" width="50px"
             style="border: 1px solid black; object-fit: cover; margin-top: 30px; margin-bottom: 20px; margin-left: 10px;">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary my-btn-dislike">&#128078;</button>
            </div>
            <div class="col-2">
                <div style="font-size: 15px;">1</div>
            </div>
            <div class=" col-2">
                <button type="submit" class="btn btn-primary my-btn-like">&#128077;</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <div style="font-size: 15px;"> VK — это более 200 проектов и сервисов,
                которыми пользуются миллионы. Ты можешь присоединиться к команде, которая их
                создаёт. Познакомься с нашим офисом и посети виртуальную экскурсию.
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-4">
                <div class="form-check" style="margin-top: 20px;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                    <label class="form-check-label" for="flexCheck2">
                        Отметить верным
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"
     style="border: 1px solid black; border-radius: 5px; background-color: white; margin-bottom: 30px; padding-bottom: 10px;">
    <div class="col-2">
        <img src="{% static '/avatar.png' %}" height="50px" width="50px"
             style="border: 1px solid black; object-fit: cover; margin-top: 30px; margin-bottom: 20px; margin-left: 10px;">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary my-btn-dislike">&#128078;</button>
            </div>
            <div class="col-2">
                <div style="font-size: 15px;">1</div>
            </div>
            <div class=" col-2">
                <button type="submit" class="btn btn-primary my-btn-like">&#128077;</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <div style="font-size: 15px;"> VK — это более 200 проектов и сервисов,
                которыми пользуются миллионы. Ты можешь присоединиться к команде, которая их
                создаёт. Познакомься с нашим офисом и посети виртуальную экскурсию.
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-4">
                <div class="form-check" style="margin-top: 20px;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
                    <label class="form-check-label" for="flexCheck3">
                        Отметить верным
                    </label>
                </div>
            </div>
        </div>
    </div>
</div> -->
<hr>
<div class="row" style="margin-top: 30px;">
    <div class="mb-3">
        <form>
            <label for="InputTextarea" class="form-label">Ваш ответ</label>
            <textarea class="form-control" id="InputTextarea" name="InputTextarea" placeholder="..."
                      required style="height: 100px; resize: none;"></textarea>
            <div class="mb-3" style="margin-top: 20px;">
                <button class="btn btn-primary" type="submit">Опубликовать</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block main_css_file %}
<link rel="stylesheet" href="{% static '/question.css' %}">
{% endblock %}
{% block title %} Вопрос {% endblock %}
